<!doctype html>
<html>
<head>
    <title>REBA Assessment Report</title>
    <meta name="description" content="REBA Assessment Report formatted, no data">
    <meta name="keywords" content="html REBA Report">
    <style>
        body {
        font-family:Ubuntu,Helvetica,Verdana,Arial,sans-serif;
        font-size:11pt;
        line-height:1.5;
        }
		h2 {
		margin:0;
		padding:0 1em;
		font-size:2em;
		}
		.block {
		float:left;
		width:450px;
		padding:10px;
		}
    </style>
    <div id="main">
        <section>
            <h2>RULA ASSESSMENT</h2>
            <div class="block">
                <h3 id="header">A. TITLE</h3>
                <h4 id="step1"></h4>
                <img width="50%" height="50%"/>
                <img width="50%" height="50%"/>
                <p>LEFT</p>
                <h4 id="step2"></h4>
                <img width="50%" height="50%"/>
                <p></p>
                <h4 id="step3"></h4>
                <img width="35%" height="35%"/>
                <h4 id="step4"></h4>
                <p></p>
                <h4 id="step5"></h4>
                <p></p>
                <h4 id="step6"></h4>
                <p></p>
                <h4 id="step7"></h4>
                <p></p>
                <h4 id="step8"></h4>
                <p></p>
            </div>
            <div class="block">
                <h3>SCORES</h3>
                <p>CENTER</p>
            </div>
            <div class="block">
                <h3>B. TITLE</h3>
                <h4 id="step9"></h4>
                <img width="70%" height="70%"/>
                <img width="35%" height="35%"/>
                <p>RIGHT</p>
                <h4 id="step10"></h4>
                <img width="70%" height="70%"/>
                <img width="70%" height="70%"/>
                <h4 id="step11"></h4>
                <p></p>
                <h4 id="step12"></h4>
                <p></p>
                <h4 id="step13"></h4>
                <p></p>
                <h4 id="step14"></h4>
                <p></p>
                <h4 id="step15"></h4>
                <p></p>
            </div>
        </section>
    </div>
</html>